.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw

.wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 400px
  width: 330px

.bg-glow, .session, .maskContainer, .sessionMask, .break, .breakMask, .sessionTimer, .breakTimer
  display: flex
  justify-content: center
  align-items: center

.bg-glow
  //display: none
  height: 300px
  width: 300px
  background-color: rgb(37, 35, 37)
  border-radius: 50%
  box-shadow: 0px 0px 4px #00FFA7
  .session
    //display: none
    width: 300px
    height: 300px
    border-radius: 50%
    //background-color: #00FFA7
    box-shadow: 0px 0px 30px rgba(0,0,0,1) inset
    //z-index: 10
  .maskContainer
    //display: none
    height: 220px
    width: 220px
    background-color: black
    border-radius: 50%
    box-shadow: 0px 0px 30px rgba(0,0,0,1)
    position: absolute
    color: white
    //z-index: 2
  .maskContainer2
    //display: none
    height: 170px
    width: 170px
    //background-color: black
    border-radius: 50%
    //box-shadow: 0px 0px 30px rgba(0,0,0,1)
    position: absolute
    cursor: pointer
    z-index: 13

  .sessionTimer
    position: absolute
    color: white
    font-size: 1.5em
    cursor: pointer
    z-index: 12

  .break
    //display: none
    height: 220px
    width: 220px
    background-color: #FF3100
    border-radius: 50%
    box-shadow: 0px 0px 40px rgba(0,0,0,0.8) inset
    position: absolute
    //z-index: 3

  .breakMask
    //display: none
    height: 170px
    width: 170px
    background-color: black
    border-radius: 50%
    position: absolute
    box-shadow: 0px 0px 40px rgba(0,0,0,0.4)
    cursor: pointer
    //pointer-events: none
    //z-index: 5
    .breakTimer
      position: absolute
      color: white
      font-size: 1.5em
      cursor: pointer



.session
	.mask, .fill
		width: 300px
		height: 300px
		position: absolute
		border-radius: 50%
		-webkit-backface-visibility: hidden
		//transition: transform 10s
	.mask
		clip: rect(0px, 300px, 300px, 150px)
		.fill
			clip: rect(0px, 150px, 300px, 0px)
			background-color: #00FFA7
.fill
  box-shadow: 0px 0px 30px rgba(0,0,0,1) inset



.break
	.mask, .fill
		width: 220px
		height: 220px
		position: absolute
		border-radius: 50%

.break
  .mask
  	clip: rect(0px, 220px, 220px, 110px)
  	.fill
  		clip: rect(0px, 110px, 220px, 0px)
  		background-color: #FF3100


// Animation Classes

.shadow-glow
	-webkit-animation-name: outerGlow
	-webkit-animation-duration: 1s
	-webkit-animation-fill-mode: forwards
	-webkit-animation-play-state: running
	-webkit-animation-iteration-count: infinite

@-webkit-keyframes outerGlow
  0%
    box-shadow: 0px 0px 30px #00FFA7
  100%
    box-shadow: 0px 0px 10px #00FFA7

.innerShadow
	-webkit-animation-name: innerShadow
	-webkit-animation-duration: 1s
	-webkit-animation-fill-mode: forwards
	-webkit-animation-play-state: running
	-webkit-animation-iteration-count: infinite

@-webkit-keyframes innerShadow
  0%
    box-shadow: 0px 0px 30px rgba(0,0,0,1)
  100%
    box-shadow: 0px 0px 10px rgba(0,0,0,1)

.session
  .fill, .mask.full
    //animation: sessionAnimate180 5s linear paused forwards infinite
.session
  .fill.fix
    //animation: sessionAnimate360 5s linear paused forwards infinite

.break
  .fill, .mask.full
    //animation: sessionAnimate180 5s linear paused forwards infinite
.break
  .fill.fix
    //animation: sessionAnimate360 5s linear paused forwards infinite
.paused
  animation-play-state: paused !important

@-webkit-keyframes sessionAnimate180
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(180deg)

@-webkit-keyframes sessionAnimate360
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.wrapper
  .controls
    display: flex
    justify-content: space-between
    margin-top : 20px
    width: 215px
    height: 45px
    //z-index: 2
    .sessionContainer, .breakContainer
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      height: 45px
      .header
        font-size: 0.6em
        color: white
        font-family: sans-serif

    .sessionInterval, .breakInterval
      display: flex
      justify-content: space-between
      align-items: center
      color: black
      width: 90px
      height: 25px
      background-color: black
      .plus, .minus
        display: flex
        justify-content: center
        align-items: center
        height: 25px
        width: 25px
        background-color: #525252
        font-size: 1em
        font-weight: bold
        font-family: arial
        cursor: pointer
        box-shadow: 0px 0px 15px  #525252, inset 0px 0px 10px #525252
      .sessionCount, .breakCount
        color: white
    .resetAll
      height: 25px
      width: 25px
      //background-color: black
      cursor: pointer
      background:
        image: url(../images/reset.png)
        size: contain
