.container
  .wrapper
    .bg-glow
      .session
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
      .maskContainer
      .maskContainer2
      .sessionTimer 00:00:00
      .break
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
      .breakMask
        .breakTimer 00:00:00
    .controls
      .sessionContainer
        .sessionInterval
          .minus.msession -
          .sessionCount
          .plus.psession +
        .header SESSION LENGTH
      .resetAll
      .breakContainer
        .breakInterval
          .minus.mbreak -
          .breakCount
          .plus.pbreak +
        .header BREAK LENGTH
