.container
  .wrapper
    .bg-glow
      .session
        .mask.full
          .fill
        .mask.half
          .fill
          .fill.fix
        .sessionMask
          .sessionTimer 00:00:00
          .break
            .breakMask
              .breakTimer 00:00:00




//
