@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.bg-glow {
  height: 300px;
  width: 300px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #00FFA7;
          box-shadow: 0px 0px 10px #00FFA7; }
  .bg-glow .session {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0px 0px 30px black inset;
            box-shadow: 0px 0px 30px black inset; }
    .bg-glow .session .sessionMask {
      height: 220px;
      width: 220px;
      background-color: black;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0px 0px 30px black;
              box-shadow: 0px 0px 30px black;
      position: absolute; }
      .bg-glow .session .sessionMask .sessionTimer {
        color: white;
        font-size: 1.5em; }
      .bg-glow .session .sessionMask .break {
        display: none;
        height: 220px;
        width: 220px;
        background-color: #FF3100;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8) inset;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8) inset;
        position: absolute; }
        .bg-glow .session .sessionMask .break .breakMask {
          height: 170px;
          width: 170px;
          background-color: black;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
                  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4); }
          .bg-glow .session .sessionMask .break .breakMask .breakTimer {
            color: white;
            font-size: 1.5em; }

.bg-glow, .session, .sessionMask, .break, .breakMask {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.session .mask, .session .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 30s;
  transition: -webkit-transform 30s;
  transition: transform 30s;
  transition: transform 30s, -webkit-transform 30s; }

.session .mask {
  /* rect(<top>, <right>, <bottom>, <left>) */
  clip: rect(0px, 300px, 300px, 150px); }
  .session .mask .fill {
    /* rect(<top>, <right>, <bottom>, <left>) */
    clip: rect(0px, 150px, 300px, 0px);
    background-color: #00FFA7; }

.shadow-glow {
  -webkit-animation-name: growProgressBar;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes growProgressBar {
  0% {
    -webkit-box-shadow: 0px 0px 30px #00FFA7;
            box-shadow: 0px 0px 30px #00FFA7; }
  100% {
    -webkit-box-shadow: 0px 0px 10px #00FFA7;
            box-shadow: 0px 0px 10px #00FFA7; } }

.sessionProgBar {
  -webkit-animation-name: sessionProgBar;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes sessionProgBar {
  0% {
    -webkit-box-shadow: 0px 0px 30px black;
            box-shadow: 0px 0px 30px black; }
  100% {
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black; } }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 500px; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(270deg, black 0%, #333333 100%); }
