@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.bg-glow {
  height: 300px;
  width: 300px;
  background-color: #252325;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px #00FFA7;
          box-shadow: 0px 0px 4px #00FFA7;
  z-index: 1; }
  .bg-glow .session {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0px 0px 30px black inset;
            box-shadow: 0px 0px 30px black inset; }
    .bg-glow .session .sessionMask {
      height: 220px;
      width: 220px;
      background-color: black;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0px 0px 30px black;
              box-shadow: 0px 0px 30px black;
      position: absolute;
      cursor: pointer; }
      .bg-glow .session .sessionMask .sessionTimer {
        color: white;
        font-size: 1.5em; }
      .bg-glow .session .sessionMask .break {
        height: 220px;
        width: 220px;
        background-color: #FF3100;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8) inset;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8) inset;
        position: absolute; }
        .bg-glow .session .sessionMask .break .breakMask {
          height: 170px;
          width: 170px;
          background-color: black;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
                  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4); }
          .bg-glow .session .sessionMask .break .breakMask .breakTimer {
            color: white;
            font-size: 1.5em; }

.bg-glow, .session, .sessionMask, .break, .breakMask {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.session .mask, .session .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-backface-visibility: hidden; }

.session .mask {
  /* rect(<top>, <right>, <bottom>, <left>) */
  clip: rect(0px, 300px, 300px, 150px); }
  .session .mask .fill {
    /* rect(<top>, <right>, <bottom>, <left>) */
    clip: rect(0px, 150px, 300px, 0px);
    background-color: #00FFA7; }

.fill {
  -webkit-box-shadow: 0px 0px 30px black inset;
          box-shadow: 0px 0px 30px black inset; }

.shadow-glow {
  -webkit-animation-name: growProgressBar;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes growProgressBar {
  0% {
    -webkit-box-shadow: 0px 0px 30px #00FFA7;
            box-shadow: 0px 0px 30px #00FFA7; }
  100% {
    -webkit-box-shadow: 0px 0px 10px #00FFA7;
            box-shadow: 0px 0px 10px #00FFA7; } }

.sessionProgBar {
  -webkit-animation-name: sessionProgBar;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-play-state: running;
  -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes sessionProgBar {
  0% {
    -webkit-box-shadow: 0px 0px 30px black;
            box-shadow: 0px 0px 30px black; }
  100% {
    -webkit-box-shadow: 0px 0px 10px black;
            box-shadow: 0px 0px 10px black; } }

.wrapper .controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  width: 215px;
  height: 45px; }
  .wrapper .controls .sessionContainer, .wrapper .controls .breakContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 45px; }
    .wrapper .controls .sessionContainer .header, .wrapper .controls .breakContainer .header {
      font-size: 0.6em;
      color: white;
      font-family: sans-serif; }
  .wrapper .controls .sessionInterval, .wrapper .controls .breakInterval {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    width: 90px;
    height: 25px;
    background-color: black; }
    .wrapper .controls .sessionInterval .plus, .wrapper .controls .sessionInterval .minus, .wrapper .controls .breakInterval .plus, .wrapper .controls .breakInterval .minus {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 25px;
      width: 25px;
      background-color: #525252;
      font-size: 1em;
      font-weight: bold;
      font-family: arial;
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 15px  #525252, inset 0px 0px 10px #525252;
              box-shadow: 0px 0px 15px  #525252, inset 0px 0px 10px #525252; }
    .wrapper .controls .sessionInterval .sessionCount, .wrapper .controls .sessionInterval .breakCount, .wrapper .controls .breakInterval .sessionCount, .wrapper .controls .breakInterval .breakCount {
      color: white; }
  .wrapper .controls .resetAll {
    height: 25px;
    width: 25px;
    background-color: black;
    cursor: pointer;
    background-image: url(../images/reset.png);
    background-size: contain; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 530px; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(270deg, black 0%, #333333 100%); }
